*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
}

body,html{
    padding: 0;
    margin: 0;
}

.logo{
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
    gap: 42px;
}

nav a{
    font-weight: bold;
    color: black;
    padding: 12px;
}
nav a:hover{
    color: gray;
    opacity: 0.9;
}

.grid-container{
    max-width: 1000px;
    margin: 30px auto;
    padding-top: 52px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 42px;
    align-items: center;
}

.grid-container-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 122px;
}

.center-vertically{
    padding-left: 42px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    margin-bottom: 22px;
}

select{
    border: blue 3px solid;
    padding: 12px 18px;
    background-color: #fff;
    max-width: 80%;
    font-size: 1.4rem;
}
.radius-1{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.radius-2{
    border-radius: 22px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

.Start-game{
        border: none;
        padding: 14px 26px;
        color: #fff;
        background-color: #665E5E;
        text-align: center;
        display: inline-block;
        margin: 10px 150px;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
}
.Start-game:hover{
    opacity: 0.8;   
}

.menu{
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-top: 12px;
}

.gameNav{
    border: 3px solid black;
    padding: 14px 26px;
    background-color: #fff;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.showSourceLangWord{
    display: flex;
    gap: 52px;
    margin-top: 138px;
    justify-content: center;
    align-items: center;
}

.showSourceLangWord img{
        width: 80px;
}

.showSourceLangWord p{
    font-size: 1.5rem;
}

.rotate{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.placeholder{
        display: flex;
        margin-top: 33px;
        gap: 0;
        width: 50%;
        background-color: #fff;
        align-items: center;

    }

.placeholder img{
    height: 80px;
}

.placeholder input{
    width: 90%;
    border: none;
    padding: 16px 22px;
    font-size: 1rem;
}
input:focus{
    border: none;
    outline: none;
}

.checkAnswer{
    border: none;
    padding: 14px 26px;
    cursor: pointer;
    display: inline-block;
    margin-top: 40px;
    background-color: black;
    font-weight: bold;
    color: #fff;
    box-shadow: 12px 4px 36px rgb(20, 20, 20);
}

/* change the style of disabled buttons */

button:disabled{
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
}

.Styleresult{
    background-color: #fff;
    padding: 22px;
    text-align: center;
}

.transparent-background{
    background-color: transparent; 
    width: 80%;
}

/* style the model */

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
  }

  .shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

.icon{
    width: 80px!important;
    height: 30px!important;
    padding: 0px 12px;
    margin-bottom: 0;
}

.gameNav.btn{
    background-color: #525252f5;
    color: white;
    font-weight: bold;
}
.gameNav.btn:hover{
    opacity: 0.9;
    background-color: #333;
}